<a href="https://colab.research.google.com/github/ashia-002/python-oop-pandas-numpy/blob/main/ML_Lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Converting dictionary into dataframe

In [1]:
import pandas as pd

In [29]:
User = [
    {
    "client" : "student1",
    "age" : 22,
    "batch" : 26,
    "gpa" : 3.6,
    "courses" : ["NM", "CN", "SE", "ML", "AI"]
    },
    {
    "client" : "student2",
    "age" : 21,
    "batch" : 26,
    "gpa" : 3.8,
    "courses" : ["NM", "CN", "SE", "ML", "AI"]
    }
]

### See the converted dataframe

In [30]:
df = pd.DataFrame(User)
print(df)

     client  age  batch  gpa               courses
0  student1   22     26  3.6  [NM, CN, SE, ML, AI]
1  student2   21     26  3.8  [NM, CN, SE, ML, AI]

In [31]:
#using loc() and at() method to change a value
df.loc[df["client"] == "student1", "gpa"] = 3.9
print(df)

df.at[1, "batch"] = 25
print(df)

     client  age  batch  gpa               courses
0  student1   22     26  3.9  [NM, CN, SE, ML, AI]
1  student2   21     26  3.8  [NM, CN, SE, ML, AI]
     client  age  batch  gpa               courses
0  student1   22     26  3.9  [NM, CN, SE, ML, AI]
1  student2   21     25  3.8  [NM, CN, SE, ML, AI]

In [32]:
course_list = df.at[1, "courses"]
course_list[course_list.index("ML")] = "OBE"
print(course_list)
print(df)

['NM', 'CN', 'SE', 'OBE', 'AI']
     client  age  batch  gpa                courses
0  student1   22     26  3.9   [NM, CN, SE, ML, AI]
1  student2   21     25  3.8  [NM, CN, SE, OBE, AI]