<a href="https://colab.research.google.com/github/ashia-002/python-oop-pandas-numpy/blob/main/ML_Lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import kagglehub
from kagglehub import KaggleDatasetAdapter

# Set the path to the file you'd like to load
file_path = "Titanic-Dataset.csv"

# Load the latest version
df = kagglehub.load_dataset(
  KaggleDatasetAdapter.PANDAS,
  "yasserh/titanic-dataset",
  file_path,
)

/tmp/ipython-input-3622819195.py:8: DeprecationWarning: Use dataset_load() instead of load_dataset(). load_dataset() will be removed in a future version.
  df = kagglehub.load_dataset(

Using Colab cache for faster access to the 'titanic-dataset' dataset.

All the columns in the dataset

In [3]:
print(df.columns)

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [4]:
print(df.info)

<bound method DataFrame.info of      PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]>

In [5]:
print(df.shape)

(891, 12)

In [6]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [7]:
print(df.sample(8))

     PassengerId  Survived  Pclass  \
754          755         1       2
446          447         1       2
113          114         0       3
489          490         1       3
167          168         0       3
308          309         0       2
535          536         1       2
631          632         0       3

                                                Name     Sex   Age  SibSp  \
754                 Herman, Mrs. Samuel (Jane Laver)  female  48.0      1
446                Mellinger, Miss. Madeleine Violet  female  13.0      0
113                          Jussila, Miss. Katriina  female  20.0      1
489            Coutts, Master. Eden Leslie "Neville"    male   9.0      1
167  Skoog, Mrs. William (Anna Bernhardina Karlsson)  female  45.0      1
308                              Abelson, Mr. Samuel    male  30.0      1
535                           Hart, Miss. Eva Miriam  female   7.0      0
631                      Lundahl, Mr. Johan Svensson    male  51.0      0

     Parch        Ticket     Fare Cabin Embarked
754      2        220845  65.0000   NaN        S
446      1        250644  19.5000   NaN        S
113      0          4136   9.8250   NaN        S
489      1    C.A. 37671  15.9000   NaN        S
167      4        347088  27.9000   NaN        S
308      0     P/PP 3381  24.0000   NaN        C
535      2  F.C.C. 13529  26.2500   NaN        S
631      0        347743   7.0542   NaN        S

Missing values per columns

In [8]:
print(df.isnull().sum())

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

Filling the missing values

In [19]:
df['Age'].fillna(df['Age'].median(), inplace=True)
df['Embarked'].fillna(df['Embarked'].mode(), inplace=True)

# df.drop(columns=['Cabin'], inplace=True) #droping the column not needed

/tmp/ipython-input-2662657223.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].median(), inplace=True)

In [20]:
df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       2
dtype: int64

Duplicate values per columns

In [13]:
# for col in df.columns:
#   print(f"Duplicate in {col} is {df.duplicated(col)}")
# # print("Dublicate in Name coloum \n")
# # print(df.duplicated('Name'))
print("Dublicate in Age coloum \n")
print(df.duplicated('Age'))
# # print("Dublicate in both Cabin and age coloum \n")
# # print(df.duplicated(subset=['Cabin', 'Age']))

Dublicate in Age coloum

0      False
1      False
2      False
3      False
4       True
       ...
886     True
887     True
888     True
889     True
890     True
Length: 891, dtype: bool