<a href="https://colab.research.google.com/github/ashia-002/python-oop-pandas-numpy/blob/main/ML_Lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Converting dictionary into dataframe
import pandas as pd

In [7]:
User = [
    {
    "client" : "student1",
    "age" : 22,
    "batch" : 26,
    "gpa" : 3.6,
    "courses" : ["NM", "CN", "SE", "ML", "AI"]
    },
    {
    "client" : "student2",
    "age" : 21,
    "batch" : 26,
    "gpa" : 3.8,
    "courses" : ["NM", "CN", "SE", "ML", "AI"]
    }
]

In [9]:
df = pd.DataFrame(User)
print(df)

     client  age  batch  gpa               courses
0  student1   22     26  3.6  [NM, CN, SE, ML, AI]
1  student2   21     26  3.8  [NM, CN, SE, ML, AI]

In [13]:
#using loc() and at() method to change a value
df.loc[df["client"] == "student1", "gpa"] = 3.9
print(df)

df.at[1, "batch"] = 25
print(df)

     client  age  batch  gpa               courses
0  student1   22     26  3.9  [NM, CN, SE, ML, AI]
1  student2   21     26  3.8  [NM, CN, SE, ML, AI]
     client  age  batch  gpa               courses
0  student1   22     26  3.9  [NM, CN, SE, ML, AI]
1  student2   21     25  3.8  [NM, CN, SE, ML, AI]